@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #D6AE30;
  --primary-hover: #b39227;
  --white-hover: #ebeaea;
  --mustard: #F4CE14;
  --background: #fcfaf1;
  --black: #060606;
  --grey: #45474b;
  --light-grey: #DCDCDC;
  --accent: #201c06;
  --dark-blue: #150E40;
  --input-border: #9ea2ac;
  --input-fill: #ECECEC;
  --link-color: #0081FE;
  --form-background: #F1F1F1;

  --hero-overlay-1: rgba(214, 174, 48, 0.7);
  --hero-overlay-2: rgba(224, 195, 102, 0.7);
  --hero-overlay-3: rgba(224, 195, 102, 0.55);
  --hero-overlay-dark1: rgba(32, 28, 6, 0.6);
  --hero-overlay-dark2: rgba(41, 41, 38, 0.7);
  --image-overlay-1: rgba(214, 174, 48, 0.6);
}


/* Global */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--accent);
    font-family: 'Inter';
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

a{
    text-decoration: none;
}

body {
    background-color: var(--background);
    min-height: 100vh;
}

*::-webkit-scrollbar{
    width: 10px; 
    height: 10px;
}

*::-webkit-scrollbar-track{
    background-color: var(--background);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--primary-hover);
    border-radius: 20px;
}

.bold{
    font-weight: bold;
}

.pages{
    padding-top: 101px;
}

